@media(max-width: 670px) {
    .navbar_handphone {
        background-color: #121212;

        ul {
            margin: 0; padding: 0px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        li {
            padding: 10px 25px;
            display: flex;
            flex-direction: column;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            p {
                font-size: 10px;
                padding-top: 5px;
                margin: 0;
            }

            .icon {
                width: 25px; height: 100%;
            }
        }
    }
}

@media(min-width: 670px) {
    .navbar_handphone {
        display: none;
    }
}