@media(max-width: 670px) {
    .navbar_handphone {
        background-color: #121212;

        ul {
            margin: 0; padding: 0px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        li {
            padding: 5px;
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
            }
        }
    }
}

@media(min-width: 670px) {
    .navbar_handphone {
        display: none;
    }
}