.navbarTop_laptop {
    width: 100%;
    background-color: black;
    display: flex;
    padding: 20px;
    transition: 0.6s;
    z-index: 100000;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li {
        margin-right: 20px;
    }
}

.navbarTop_handphone {
    display: none;
}

@media(max-width: 670px) {
    .navbarTop_laptop {
        display: none;
    }

    .navbarTop_handphone {
        width: 100%;
        position: fixed;
        background-color: black;
        top: 0;
        display: flex;
        z-index: 100000;

        .nav_header {
            width: 100%;
            display: flex;
            flex-direction: column;

            .nav_headerTop {
                margin: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .nav_search,
                .nav_icon {
                    margin: 0;
                }

                .nav_icon {
                    width: 35px;
                }

                .nav_search input {
                    width: 285px; height: 35px;
                }

                .nav_profile {
                    width: 35px; height: 35px;
                    img {
                        border-radius: 2px;
                    }
                }
            }

            .nav_headerBottom {
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: center;

                ul {
                    width: 80%;
                    margin: 0; padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                }

                li {
                    padding: 10px;
                }
            }
        }
    }
}