.navbar_laptop {
    width: 100%;
    background-color: black;
    display: flex;
    padding: 20px;
    transition: 0.6s;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li {
        margin-right: 20px;
    }
}

@media(max-width: 670px) {
    .navbar_laptop {
        transition: 0.6s;
    }
}