.container {
    width: 100%; height: auto;
    background-color: black;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .contentHeader {
        height: 570px;

        img {
            width: 100% !important;
            height: 570px !important;
        }
    }
}